.game-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 30px;
}
.game-status .healthes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.game-status .healthes .health {
  font-size: 30px;
  min-width: 70px;
  text-align: center;
  transition: 0.5s;
  font-weight: 700;
}
.game-status .healthes .health-label {
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 30px;
}
.control .control-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  font-size: 25px;
}
@media (hover: hover) and (pointer: fine) {
  .control .control-button {
    transition: 0.2s;
  }
  .control .control-button:hover {
    background-color: white;
    color: black;
  }
}
.control .control-button.next, .control .control-button.next10 {
  margin-right: 10px;
}
.control .control-button.prev, .control .control-button.prev10 {
  margin-left: 10px;
}
.control .ticks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  flex-basis: 100px;
}
.control .ticks .slash {
  margin: 0 5px 0 5px;
}

#game-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.board .board-column {
  display: flex;
  flex-direction: column-reverse;
  border-right: 1px white solid;
  width: min(100%, 60px);
}
.board .board-column:first-child {
  border-left: 1px white solid;
}
.board .board-column .board-square {
  border-bottom: 1px solid white;
  max-height: 60px;
  max-width: 60px;
  width: min(100%, 60px);
  aspect-ratio: 1/1;
  box-sizing: border-box;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.board .board-column .board-square:last-child {
  border-top: 1px solid white;
}

.tank {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
}
.tank .tank-body {
  height: 75%;
  width: 50%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  box-sizing: border-box;
}
.tank .tank-body .tank-arrow {
  width: 50%;
  aspect-ratio: 1/1;
  background: white;
  border-radius: 50%;
  margin-bottom: 33.3333333333%;
}
