.internal-error-page {
    color: white;

    .message {
        font-size: 2rem;
    }

    .dashboard {
        text-decoration: none;
        font-size: 1.5rem;
        margin-top: 2rem;
        display: block;
        width: fit-content;
        padding: 1rem 1.2rem;
        background-color: #394897;
        border-radius: .5rem;
        color: white;
    }
}
