.info {
    display: flex;
    flex-direction: column;

    min-width: 0;

    flex-grow: 1;

    color: white;

    .guide-title {
        font-size: 3rem;
        font-weight: 800;

        margin-bottom: .5rem;
    }

    .guide-text {
        font-size: 1.3rem;

        margin-bottom: 2rem;

        // code blocks
        code.hljs {
            background-color: #000215;
            border-radius: .5rem;
        }

        // inline codes
        code:not(.hljs) {
            background-color: #000215;
            padding: .2rem .3rem;
            border-radius: .3rem;
        }
    }
}

.sidebar {
    .btn-view-games {
        background-color: rgb(29, 157, 23);

        @media (hover: hover) and (pointer: fine) {
            transition: .2s;

            &:hover {
                background-color: rgb(16, 128, 10);
            }
        }
    }
}
