<!-- We're assuming that ionicons is loaded -->

<div id="game-body">
    <div class="board"></div>
    <div class="game-status">
        <div class="healthes">
            <div class="health">-</div>
            <span class="health-label">HEALTH</span>
            <div class="health">-</div>
        </div>
    </div>
    <div class="control">
        <div class="control-button zero">0</div>
        <div class="control-button prev10"><ion-icon name="md-rewind"></ion-icon></div>
        <div class="control-button prev"><ion-icon name="md-skip-backward"></ion-icon></div>
        <div class="ticks">
            <div class="current-tick">-</div>
            <span class="slash">/</span>
            <div class="tick-count">-</div>
        </div>
        <div class="control-button next"><ion-icon name="md-skip-forward"></ion-icon></div>
        <div class="control-button next10"><ion-icon name="md-fastforward"></ion-icon></div>
        <div class="control-button pause-play"><ion-icon name="md-pause"></ion-icon></div>
    </div>
</div>
