.login-page {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    .login-form-wrapper {
        display: flex;
        flex-direction: column;

        padding: 2rem 2.5rem;

        background-color: rgb(37, 44, 73);

        box-shadow: -.3rem .3rem 1rem .2rem rgba(0, 0, 0, 0.471);

        width: min(100%, 25rem);

        border-radius: .5rem;

        .login-form-title {
            font-size: 2rem;
            font-weight: 600;

            margin-bottom: 3rem;

            color: white;
        }

        .login-form-wrong-credentials {
            font-size: 1.2rem;
            font-weight: 600;

            margin-bottom: 3rem;

            color: rgb(255, 182, 182);
        }

        .login-form {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            color: white;



            label {
                font-size: 1.4rem;
                font-weight: 600;

                &:not(:first-of-type) {
                    margin-top: 2rem;
                }
            }

            .login-form-forgot-password {
                font-size: 1.2rem;
                text-decoration: none;
                color: #9bb4ff;
                font-weight: 700;
                margin-top: .8rem;

                @media (hover: hover) and (pointer: fine) {
                    transition: .2s;
        
                    &:hover {
                        color: #799aff;
                    }
                }
            }

            .login-form-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-top: 3rem;


                .login-form-signup {
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: #9bb4ff;
                    font-weight: 700;

                    @media (hover: hover) and (pointer: fine) {
                        transition: .2s;
            
                        &:hover {
                            color: #799aff;
                        }
                    }
                }

                .login-form-submit {
                    color: white;

                    font-size: 1.3rem;
                    


                    padding: .5rem .8rem;

                    border: none;

                    // font-size: 1.3rem;

                    border-radius: .3rem;

                    box-sizing: border-box;

                    box-shadow: -.3rem .3rem .5rem .1rem rgba(0, 0, 0, 0.304);

                    background-color: #10874a;

                    align-self: end;

                    user-select: none;
                    cursor: pointer;

                    font-weight: 600;

                    @media (hover: hover) and (pointer: fine) {
                        transition: .2s;
            
                        &:hover {
                            background-color: rgb(14, 86, 11)
                        }
                    }
                }
            }

            .login-form-input {
                color: white;

                font-size: 1.3rem;
                
                margin-top: .5rem;


                padding: .5rem .8rem;

                border: none;

                // font-size: 1.3rem;

                border-radius: .3rem;

                box-sizing: border-box;

                box-shadow: -.3rem .3rem .5rem .1rem rgba(0, 0, 0, 0.304);

                background-color: #2e4d75;
            }

                    //             display: flex;
                    // flex-direction: row;
                    // align-items: center;
                    // justify-content: center;

                    // padding: 0 .8rem;
    
                    // // font-size: 1.3rem;

                    // border-radius: .4rem;

                    // height: 3rem;

                    // box-sizing: border-box;

                    // box-shadow: -.3rem .3rem .5rem .1rem rgba(0, 0, 0, 0.304);

                    // background-color: #213a5b;

                    // .info-fight-form-players-at-label {
                    //     margin-right: .7rem;
                    //     font-size: 1.5rem;

                    //     user-select: none;
                    // }
    
                    // .info-fight-form-players-search {
                    //     color: white;
                    //     border: none;

                    //     background: none;
    
                    //     // padding: .6rem .8rem;
    
                    //     font-size: 1.3rem;
    
                    //     // border-radius: .4rem;
    
                    //     height: 100%;
    
                    //     // box-shadow: -.3rem .3rem .5rem .1rem rgba(0, 0, 0, 0.304);
    
                    //     box-sizing: border-box;
                    // }
        }
    }
}