.games-main {
    display: flex;
    flex-direction: column;

    color: white;

    .games-label {
        font-size: 2rem;

        margin-bottom: 1rem;
    }

    .games-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a {
            text-decoration: none;
            color: white;
        }

        > :not(:last-child) {
            margin-right: 1rem;
        }

        .game-info {


            margin-bottom: 1rem;

            background: #3373b7;

            padding: 1.2rem 1.8rem;

            border-radius: .3rem;

            max-width: 20rem;
            min-width: 20rem;

            min-height: 10rem;
            max-height: 10rem;

            display: flex;
            flex-direction: column;

            user-select: none;
            cursor: pointer;

            box-shadow: -.3rem .3rem 1rem .2rem rgba(0, 0, 0, 0.471);

            @media (hover: hover) and (pointer: fine) {
                transition: .2s;
    
                &:hover {
                    background-color: #215082;
                }
            }


            .game-info-top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                margin-bottom: 1rem;

                .game-info-title {
                    font-size: 1.5rem;
                    font-weight: 800;
                }

                .game-info-conclusion-system {
                    padding: .3rem .6rem;
                    background-color: #18487a;
                    border-radius: .3rem;
                    // align-self: flex;
                }
            }

            .game-info-description {
                font-size: 1.2rem;
                overflow-y: hidden;
            }
        }
    }
}