{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    {% block header %}{% endblock header %}
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header-left">
                <div class="header-logo"><a href="{% url 'dashboard' %}">Codefights</a></div>
                <div class="header-link header-games"><a href="{% url 'games_list' %}">Games</a></div>
                <div class="header-link header-fights"><a href="{% url 'public_fights' %}">Public Fights</a></div>
                <div class="header-link header-guide"><a href="{% url 'guide' %}">Guide</a></div>
            </div>
            <div class="header-right">
                {% if request.user.is_authenticated %}
                <a class="header-settings" href="{% url 'settings' %}"><ion-icon name="settings-outline"></ion-icon></a>
                {% else %}
                <a class="header-button" href="{% url 'login' %}">Log In</a>
                <a class="header-button" href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
        <div class="middle">
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </div>
        <div class="footer">
            <div class="footer-left">
                <a class="footer-logo" href="{% url 'dashboard' %}">Codefights</a>
            </div>
            <div class="footer-right">
                <a class="footer-link footer-guide" href="{% url 'guide' %}">Guide</a>
                <a class="footer-link footer-about" href="https://github.com/PyBagheri/codefights">About</a>
                <a class="footer-link footer-license" href="https://github.com/PyBagheri/codefights">License</a>
                <a class="footer-link footer-github" href="https://github.com/PyBagheri/codefights"><ion-icon name="logo-github"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="confirmation-dialog">
        <div class="confirmation-dialog-main">
            <div class="confirmation-dialog-title"></div>
            <div class="confirmation-dialog-description"></div>
            <div class="confirmation-dialog-bottom">
                <div class="confirmation-dialog-btn btn-yes">YES</div>
                <div class="confirmation-dialog-btn btn-no">NO</div>
            </div>
        </div>
        <form class="confirmation-form" method="post">
            {% csrf_token %}
            <input name="confirmed" type="checkbox" checked hidden />
        </form>
    </div>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'base/base.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>