{% extends "base_no_sidebar.html" %}
{% load static %}

{% block title %}Recover Password | Codefights{% endblock title %}


{% block header %}
<link rel="stylesheet" href="{% static 'accounts/forgot_password.css' %}">
{% endblock header %}


{% block content %}
<div class="fpwd-page">
    {% if email_sent %}
    <div class="email-sent">The password recovery link will be sent to your email if it belongs to an account.</div>
    {% else %}
    <div class="fpwd-form-wrapper">
        <div class="fpwd-form-title">Recover Password</div>
        <form method="post" class="fpwd-form">
            {% csrf_token %}

            <label for="email">Email:</label>
            {{ form.email.errors }}
            <input name="email" class="fpwd-form-input">

            <div class="fpwd-form-bottom">
            <input type="submit" value="Confirm" class="fpwd-form-submit">
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}

