{% extends "base.html" %}
{% load static %}


{% block header %}
<link rel="stylesheet" href="{% static 'accounts/reset_password.css' %}">
{% endblock header %}


{% block content %}
<div class="reset-password-page">
    {% comment %} {% if email_sent %}
    <div class="email-sent">The password recovery link will be sent to your email if it belongs to an account.</div>
    {% else %} {% endcomment %}
    <div class="reset-password-form-wrapper">
        <div class="reset-password-form-title">Reset Your Password</div>
        <form method="post" class="reset-password-form">
            {% csrf_token %}

            <label for="password">New Password:</label>
            {{ form.password.errors }}
            <input type="password" name="password" class="reset-password-form-input">

            <div class="reset-password-form-bottom">
            <input type="submit" value="Confirm" class="reset-password-form-submit">
            </div>
        </form>
    </div>
    {% comment %} {% endif %} {% endcomment %}
</div>
{% endblock content %}

